#vt100 .ansiDefR {
  color:            #04A664;
}

#vt100 .bgAnsiDefR {
  background-color: #141729;
}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #141729;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #04A664;
}

